$primary-color: #fca311;       /* Amarillo/Dorado */
$secondary-color: #14213d;     /* Azul oscuro */
$text-color: #ffffff;          /* Blanco para textos */
$light-text-color: #e5e5e5;    /* Gris claro */
$background-color: #000000;    /* Negro como fondo principal */
$card-background-color: #a09a9a; /* Tarjetas en gris claro */
$card-text-color: #14213d;     /* Texto oscuro sobre tarjetas */
$border-color: #fca311;        /* Amarillo/dorado para bordes */
$font-family-primary: 'Arial', sans-serif;
