<h2 class="section-title-main">Proyectos Destacados</h2>
<div class="carousel-container">
    <div class="carousel-track-container">
        <ul class="carousel-track">
            <li class="carousel-slide">
                <article class="project-card">
                    <img src="/static/main/imagenes/biogallery.png" alt="Imagen del Proyecto 1">
                    <div class="project-card-content">
                        <h3 class="project-title">Bio-Gallery</h3>
                        <p class="project-description">Una aplicación web desarrollada en Python con Django para
                            concientizar a las personas a cerca de la fauna y comunidades indigenas colombianas.
                        </p>
                        <a href="https://github.com/Thowers/Bio-gallery" target="_blank" class="github-link"><i
                                class="fab fa-github"></i> Ver Código</a>
                    </div>
                </article>
            </li>
            <li class="carousel-slide">
                <article class="project-card">
                    <img src="/static/main/imagenes/bots.png" alt="Imagen del Proyecto 2">
                    <div class="project-card-content">
                        <h3 class="project-title">Bot de Discord | Tienda musical</h3>
                        <p class="project-description">Un bot de tienda para servidores de Discord, programado
                            con la librería `discord.py` para automatizar la compra y actualizacion de stock
                            mediante una API.</p>
                        <a href="https://github.com/Thowers/Tienda-instrumentos-discord" target="_blank"
                            class="github-link"><i class="fab fa-github"></i> Ver Código</a>
                    </div>
                </article>
            </li>
            <li class="carousel-slide">
                <article class="project-card">
                    <img src="/static/main/imagenes/natulert.png" alt="Imagen del Proyecto 3">
                    <div class="project-card-content">
                        <h3 class="project-title">Natulert</h3>
                        <p class="project-description">Una aplicacion web para notificar alertas del
                            medioambiente, programado mediante HTML, CSS y JavaScript.</p>
                        <a href="https://github.com/Thowers/Natulert" target="_blank" class="github-link"><i
                                class="fab fa-github"></i> Ver
                            Código</a>
                    </div>
                </article>
            </li>
        </ul>
    </div>
    <button class="carousel-button carousel-button--left"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="carousel-button carousel-button--right"><i class="fa-solid fa-chevron-right"></i></button>
</div>